/* Write your CSS here */
.planet_item_bg_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planet_img_element {
  height: 250px;
  width: 300px;
}

.planet_name_element {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #f8fafc;
}
.planet_description {
  font-family: 'Roboto';
  font-size: 22px;
  color: #f1f5f9;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .planet-img_element {
    height: 250px;
    width: 300px;
  }
  .planet_name_element {
    font-size: 20px;
  }
  .planet_description {
    font-size: 16px;
  }
}
