/* Write your CSS here */
.bg_container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mode_change_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 0%);
  padding: 40px;
  border-radius: 10px;
  background-color: #000000;
}
.light_mode_container {
  background-color: #ffffff;
}
.dark_mode_container {
  background-color: #000000;
}
.main_heading {
  font-size: 18px;
  font-family: 'Roboto';
  color: #ffffff;
}
.light_mode_heading {
  color: #000000;
}
.dark_mode_heading {
  color: #ffffff;
}
.mode_change_button {
  font-size: 12px;
  height: 30px;
  width: 80px;
  border: 2px solid #000000;
  border-radius: 6px;
}
.last-container {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Roboto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .last-container {
    height: 40px;
    font-size: 12px;
  }
}
