/* Write your CSS here */
* {
  box-sizing: border-box;
}
.title_name {
  font-size: 14px;
  font-family: 'Roboto';
  color: #000000;
}
.todo_item_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.delete_button {
  height: 20px;
  width: 45px;
  font-size: 12px;
  font-family: 'Roboto';
  border: 1px solid #ff0b37;
  color: #ff0b37;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 768px) {
  .title_name {
    font-size: 10px;
    margin-right: 5px;
  }
  .delete_button {
    font-size: 9px;
    width: 40px;
  }
}
