.jobs_and_header_component_container {
  min-height: 100vh;
  background-color: #000000;
}
.jobs_route_bg_container {
  padding: 20px 80px 20px 80px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .jobs_route_bg_container {
    flex-direction: column;
    padding: 20px;
  }
}
.profile_and_filters_container {
  width: 20vw;
  height: 70vh;
}
@media screen and (max-width: 768px) {
  .jobs_and_header_component_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile_and_filters_container {
    width: 90vw;
    height: 80vh;
  }
}
.employment_type_filter_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  list-style-type: none;
}
.employment_main_heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #f8fafc;
}
.salary_range_heading_element {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #f8fafc;
}
.job_items_and_search_container {
  width: 65vw;
}
@media screen and (max-width: 768px) {
  .job_items_and_search_container {
    width: 90vw;
  }
}
.search_bar_container_lg {
  display: flex;
  height: 40px;
  border: 1px solid #7e858e;
  width: 500px;
  border-radius: 5px;
  display: block;
}
.search_bar_container_sm {
  display: flex;
  height: 40px;
  border: 1px solid #7e858e;
  width: 500px;
  border-radius: 5px;
  display: none;
}

.search_input_element {
  width: 88%;
  background-color: transparent;
  border-width: 0px;
  outline: none;
  padding-left: 10px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #f8fafc;
}
.search_icon_button {
  width: 12%;
  background-color: #272727;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  margin-left: 0px;
}
.search_icon {
  color: #cbd5e1;
}
@media screen and (max-width: 768px) {
  .search_bar_container_sm {
    display: block;
    width: 90vw;
  }
  .search_bar_container_lg {
    display: none;
  }
  .search_input_element {
    height: 100%;
  }
  .search_icon_button {
    height: 100%;
  }
}
.jobs_list_items_container {
  list-style-type: none;
  padding: 0px;
  width: 65vw;
}
@media screen and (max-width: 768px) {
  .jobs_list_items_container {
    width: 90vw;
  }
}
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 65vw;
}
@media screen and (max-width: 768px) {
  .loader_container {
    width: 100%;
    height: 20vh;
  }
}

.not_jobs_section_bg_container {
  height: 82vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no_jobs_img_element {
  height: 50%;
  width: 45%;
}
.no_jobs_found_main_heading {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
}

.no_jobs_found_description {
  margin-top: 0px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f8fafc;
}
@media screen and (max-width: 768px) {
  .not_jobs_section_bg_container {
    width: 100%;
    height: 60vh;
  }
  .no_jobs_img_element {
    width: 80%;
    height: 30%;
  }
}
.failure_view_container {
  height: 82vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure_view_main_heading {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
}
.failure_view_description {
  margin-top: 0px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f8fafc;
}
.retry_button {
  height: 40px;
  width: 110px;
  border-width: 0px;
  background-color: #4f46e5;
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .failure_view_container {
    width: 98vw;
  }
  .failure_view_img_element {
    width: 80%;
    height: 40%;
  }
  .failure_view_main_heading {
    font-size: 24px;
  }
  .failure_view_description {
    font-size: 13px;
  }
}
.salary_list_items_container {
  padding: 0px;
  list-style-type: none;
}
