
.skill_item_container {
  height: 70px;
  width: 30%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 30px;
}
.skill_logo_img_element {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.skill_name {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: #f8fafc;
  flex-shrink: 2;
}
@media screen and (max-width: 768px) {
  .skill_logo_img_element {
    height: 30px;
    width: 30px;
    margin-right: 8px;
  }
  .skill_item_container {
    width: 50%;
    margin: 0px;
  }
  .skill_name {
    font-size: 17px;
  }
}
