.products_header_bg_container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .products_header_bg_container {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
}
.products_list_heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.sort-by-container {
  display: flex;
  align-items: center;
}

.sort-by-icon {
  font-size: 24px;
  color: #475569;
  margin-right: 6px;
}

.sort_by {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
}

.sort_by_select {
  color: #475569;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 12px;
  outline: none;
  cursor: pointer;
}

.select-option {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
}
