/* Write your CSS here */
.bg_container {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  padding-top: 48px;
}
.main_heading {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #ffffff;
}
.button {
  height: 27px;
  width: 125px;
  border-width: 0px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 5px;
  font-size: 10px;
  font-family: 'Roboto';
  color: #dd1264;
  margin-bottom: 15px;
}
.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
@media screen and (max-width: 768px) {
  .button_container {
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
  }
}
.name_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: ;
  width: 190px;
  height: 100px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .name_container {
    background-color: #fddddb;
  }
  .button {
    background-color: #fddddb;
  }
}
.name {
  font-size: 24px;
  color: #000000;
  font-family: 'Bree Serif';
}
.first_name_bg_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  width: 200px;
}
.last_name_bg_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  width: 200px;
}

.last-container {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Roboto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .last-container {
    height: 40px;
    font-size: 12px;
  }
}
