.header_and_job_details_container {
  min-height: 110vh;
  background-color: #000000;
  padding-bottom: 20px;
}

.job_details_view_bg_container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.job_item_details_and_similar_jobs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
}
.job_item_details_container {
  background-color: #272727;
  min-height: 80vh;
  width: 90vw;
  padding: 40px;
  border-radius: 10px;
}
.job_details_company_logo_element {
  height: 90px;
  width: 90px;
}
.company_url_and_job_role_container {
  display: flex;
}
.job_role_and_rating_container {
  display: flex;
  flex-direction: column;
}
.rating_container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.job_details_item_title_heading {
  margin: 0px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 600;
}
.star_icon {
  color: #fbbf24;
}
.job_details_rating_element {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .job_item_details_container {
    padding: 15px;
  }
  .job_details_company_logo_element {
    height: 60px;
    width: 60px;
  }
  .job_details_item_title_heading {
    font-size: 22px;
    font-weight: 500;
  }
  .job_details_rating_element {
    font-size: 16px;
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: 500;
    margin-left: 5px;
  }
}
.job_item_middle_section_container {
  display: flex;
  width: 100%;
  color: #ffffff;
  justify-content: space-between;
}
.job_item_middle_section_left_container {
  display: flex;
  align-items: center;
}
.location_icon {
  color: #ffffff;
  margin-right: 8px;
}
.job_details_location_element {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f8fafc;
}
.location_container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.suitcase_icon {
  color: #ffffff;
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .location_icon {
    margin-right: 2px;
  }
  .suitcase_icon {
    margin-right: 3px;
  }
  .location_container {
    margin-right: 10px;
  }
}
.employment_type_container {
  display: flex;
  align-items: center;
}
.job_details_employment_type_element {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f8fafc;
}

.job_details_salary_package_element {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
.job_item_details_description_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visit_element {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #6366f1;
  margin-right: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.link_icon_span_element {
  margin-left: 6px;
}
@media screen and (max-width: 768px) {
  .visit_element {
    font-size: 18px;
  }
}

.job_details_description_heading {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .job_details_description_heading {
    font-size: 20px;
  }
}
.job_details_job_description_element {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f8fafc;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .job_details_description_heading {
    font-size: 20px;
  }
  .job_details_job_description_element {
    font-size: 15px;
  }
}
.link_in_jobitem {
  text-decoration: none;
}
.skills_list_container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.skills_main_heading {
  font-size: 22px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
}
.life_at_company_container {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.life_at_company_main_heading {
  font-size: 25px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
}
.life_at_company_description_element {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f8fafc;
  line-height: 1.5;
  width: 60%;
  margin: 0px;
}
.life_at_company_url_element {
  height: 100%;
  width: 30%;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .life_at_company_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 450px;
  }
  .life_at_company_main_heading {
    font-size: 20px;
  }
  .life_at_company_description_element {
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
  }
  .life_at_company_url_element {
    width: 100%;
    height: 43%;
  }
}
.job_details_loader_container {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}
.similar_jobs_main_heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
}
.similar_jobs_container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .similar_jobs_main_heading {
    font-size: 20px;
  }
  .similar_jobs_container {
    flex-direction: column;
  }
}
.job_item_details_failure_view_container {
  height: 82vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job_item_details_failure_view_main_heading {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
}
.job_item_details_failure_view_description {
  margin-top: 0px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f8fafc;
}
.job_item_details_retry_button {
  height: 40px;
  width: 110px;
  border-width: 0px;
  background-color: #4f46e5;
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
