/* Write your CSS here */
.event_img_element {
  height: 34vh;
  width: 100%;
  cursor: pointer;
}
.event_heading_element {
  font-size: 25px;
  font-family: 'Roboto';
  color: #f8fafc;
  margin-bottom: 3px;
}
.event_location_element {
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  margin: 0px;
}
.event_item_card_container {
  width: 26vw;
  height: 46vh;
  padding: 0px;
  background-color: transparent;
  border-width: 0px;
  text-align: left;
}
.img_border {
  border: 2px solid #2dd4bf;
  border-radius: 5px;
}
