.header_bg_container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  background-color: #272727;
  list-style-type: none;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .header_bg_container {
    width: 100%;
  }
}
.home_jobs_logout_element_container {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.header_middle_container {
  display: flex;
  align-items: center;
}

.logo_img_url {
  height: 40px;
  width: 150px;
  text-decoration: none;
}
.home_link_element {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #f1f5f9;
  margin-right: 10px;
  text-decoration: none;
}
.nav_icon_for_sm {
  display: none;
}
.jobs_link_element {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #f1f5f9;
  text-decoration: none;
}
.logout_button_lg_element {
  height: 35px;
  width: 100px;
  border-width: 0px;
  background-color: #6366f1;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.logout_sm_button_element {
  display: none;
}

@media screen and (max-width: 768px) {
  .header_bg_container {
    height: 7vh;
  }
  .header_bg_container {
    padding: 0px 10px 0px 10px;
  }
  .header_logo_img_url {
    height: 30px;
    width: 90px;
  }
  .nav_element_for_lg {
    display: none;
  }
  .nav_icon_for_sm {
    display: block;
  }
  .logout_button_lg_element {
    display: none;
  }
  .logout_sm_button_element {
    display: block;
    padding: 0px;
    background-color: transparent;
    border-width: 0px;
    margin-left: 13px;
  }
  .home_jobs_logout_element_container {
    justify-content: flex-end;
  }
}
