/* Write your CSS code here */
.products_tab_bg_container {
  min-height: 200vh;
  display: flex;
  justify-content: center;
}

.products_container {
  width: 75vw;
}
@media screen and (max-width: 768px) {
  .products_container {
    width: 90vw;
  }
}
