/* Write your CSS here */
.movie_thumbnail {
  width: 215px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .movie_thumbnail {
    width: 254px;
    height: 170px;
  }
}
.pop_up_container {
  border-radius: 16px;
}
.popup-content{
  background-color: #ffffff;
  width: 750px;
  height: 460px;
  border-radius: 16px;
}
.popup_card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.close_button {
  align-self: flex-end;
  padding: 0px;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  outline: none;
  align-self: flex-end;
  margin-top: 18px;
  margin-right: 18px;
}
.close_icon {
  color: #231f20;
}
.movie_player_container {
  margin-top: 12px;
  margin-left: 48px;
  margin-bottom: 48px;
  margin-right: 48px;
}
