/* Write your CSS here */
.repos_background_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
}
.popular_heading_element {
  text-align: center;
  font-family: 'Lobster';
  font-size: 40px;
  color: #0f172a;
  font-family: 500;
}
.language_filter_background_container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  .language_filter_background_container {
    width: 90vw;
  }
}
.repository_bg_container {
  width: 80vw;
  flex-direction: row;
  flex-wrap: wrap;

  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.failure_view_bg_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.failure_view_heading_element {
  font-family: 'lobster';
  font-size: 35px;
  font-weight: 600;
  color: #0f172a;
}
.failure_view_img_element {
  height: 60vh;
  width: 50vw;
}
.loading_element_bg_container {
  width: 99vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
