/* Write your CSS here */
.about_bg_container {
  height: 100vh;
}
.about_card_container {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_img_element {
  height: 200px;
  width: 200px;
}
.about_main_heading_element {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 700;
}
.about_dark_bg {
  background-color: #000000;
}
.about_light_bg {
  background-color: #ffffff;
}
.about_dark_mode_main_heading {
  color: #ffffff;
}
.about_light_mode_main_heading {
  color: #000000;
}
